<%- include ('header.html') %>
        <h4>Select the Country</h4>
    </div>
</div>
<div class="container content-container">


<% let countries = [ { name: "Argentina", id: "ar"}, { name: "India", id: "in"}, { name: "United States", id: "us"}, { name: "Australia", id: "au"}, { name: "Honk Kong", id: "hk"}, { name: "China", id: "cn"}, { name: "Italy", id: "it"}, { name: "Japan", id: "jp"}, { name: "Singapore", id: "sg"} ] %>

<div class="sources-container mb4 center relative">
    <% countries.forEach(function(country) { %>
        <div class="country flag">
            <a href="/<%= country.id %>" title=<%= country.name %>>
                <img alt="<%= country.name %> flag" class="icon loaded" data-src="https://newsapi.org/images/flags/<%= country.id %>.svg" src="https://newsapi.org/images/flags/<%= country.id %>.svg" data-was-processed="true"><br>
                <div class="country name f3" title= <%= country.name %> >
                    <%= country.name %>
                </div>
            </a>
        </div>
    <% }) %>
</div>

<%- include ('footer.html') %>